KEYCLOAK_ID=
KEYCLOAK_SECRET=
KEYCLOAK_ISSUER=
NEXTAUTH_SECRET=
END_SESSION_URL=
REFRESH_TOKEN_URL=
NEXT_PUBLIC_KEYCLOAK_API_URL=

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema
DATABASE_URL=

# SendGrid
SENDGRID_API_KEY=

# Google cloud storage
GCS_BUCKET=
GC_PROJECT_ID=
GOOGLE_APPLICATION_CREDENTIALS=

# Firebase
FIREBASE_ADMIN_CREDENTIALS=
